<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"smj-seite nacht-seite","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group smj-seite nacht-seite" style="margin-top:0">
	<!-- wp:group {"align":"full","className":"nacht-seitenkopf","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull nacht-seitenkopf">
		<!-- wp:smj/brotkruemel {"align":"wide"} /-->
		<!-- wp:post-title {"level":1,"align":"wide"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"full","className":"nacht-seiteninhalt","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull nacht-seiteninhalt">
		<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","contentSize":"1200px"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
